*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TITLE AND PARAGRAPH */

.container{
    margin-right: 150px;
    margin-left: 150px;
    text-align: center;
}

h1{
    color: #e53070;
    margin-top: 30px;
    margin-bottom: 40px;
    font-family: 'Fredoka', sans-serif;
}

/* FINE TITLE AND PARAGRAPH */

/* MAIN */

img{
    height: 80px;
    float: left;
    margin-right: 10px;
}

.container-photo{
    margin-top: 30px;
    display: inline-block;
    width:calc(100% / 3 - 50px) ;
}

.cols{
    content: "";
    display: table;
    clear: both;
    width: 250px;
    box-shadow: 0 0 10px black;
}

.row{
    background-color: black;
    color: white;
    text-align: left;
    float: right; 
    width: 250px;
}

.margin{
    font-family: 'Fredoka', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

a{
    text-decoration: none;
    color: #4da2C6;
    display: inline;
    font-size: 11px;
}


/* FINE MAIN */