*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

/* TITLE AND PARAGRAPH */

.container{
    margin-right: 155px;
    margin-left: 155px;
    max-width: 1170px;
    text-align: center;
}

h1{
    color: #e53070;
    margin-top: 30px;
    margin-bottom: 40px;
}

/* FINE TITLE AND PARAGRAPH */

/* MAIN */

img{
    height: 80px;
    margin-right: 10px;
    float: left;
}


.container-photo{
    content: '';
    display: table;
    clear: both;
    margin-top: 30px;
    display: inline-block;
    margin-left: 20px;
}

.riga{
    background-color: black;
    width: 300px;
    color: white;
    height: 80px;
    text-align: left;
    padding: 7px;
}

.margin{
    margin-bottom: 2px;
}

a{
    text-decoration: none;
    color: #4da2C6;
}

/* FINE MAIN */